@model WebApplication.Models.PurchaseViewModel
@{
    ViewBag.Title = "Purchase details";
}

<h2>Purchase № @Model.Id</h2>

@foreach (var o in Model.Orders)
{
    @Html.DisplayFor(model => o.GoodName) 
    @: -
    @Html.DisplayFor(model => o.Quantity)
    <br /><br />
}